body{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}    
.container{
    margin-top: 12%;
    
}
.fa-stroopwafel{
    font-size: 40px;
}
#submit{
    background-color: transparent;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: .25rem;
    width: 7em;
}
.copyDiv{
    margin-left: 20%;
    margin-top: 5%;
}
.copyDiv button{
    background-color: transparent;
    border-color: black;
    border-width: 2px;
    color: black;
    border-radius: .25rem;
    width: 7em; 
}
.copyDiv span{
    margin-right: 20px;
   font-size: 15px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border: darkgray solid 2px;
   padding:5px 13px 5px 13px;
   border-radius:3px;
   background-color:white;

}
footer{
    margin-top: 80%;
    margin-top: 24%;
    font-size: 10px;

 }

@media only screen and (max-width: 1200px) {
    body{
        height: 100%;
        background: #8e9eab;  /* fallback for old browsers */
        background: -webkit-linear-gradient(-90deg, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
        background: radial-gradient( #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }   
    .container{
        margin-top: 50%;
    }
    .container #submit{
       margin-top: 5%;
       margin-left: 19em;
    }
    .navbar-nav{
        font-size: 3em;
    }
    .fa-stroopwafel{
        font-size: 5em;
    }
    .dropdown-menu-right{
        font-size: 0.5em;
    }
    .navbar-toggler{
        font-size: 3em;
    }
    .navbar-text{
        display: none;
    }
    #urlInput{
        height: 3.5em;
        width: 35em;
        margin-left: -4em;
        font-size: 25px;
    }
    #urlInput::-webkit-input-placeholder{
        font-size: 25px;
    }
    #urlInput::-moz-placeholder {
        font-size: 25px;
    }
    #submit{
        margin: 10% 0px 0px 25% !important;
        font-size: 3em;
        width: 7em;    
    }
    .copyDiv{
        margin-left: 30%;
        margin-top: 5%;
    }
    .copyDiv button{
        display: block;
        /* height: 60px !important; */
        width: 130px;
        font-size: 35px;
        font-size: 3em;
        width: 8em;
        margin-top:15%;
        padding:10px 5px 10px 5px;
    }
    .copyDiv span{
        margin-right: 20px;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: darkgray solid 2px;
        padding:10px 20px 10px 20px;
        margin-left: -15%;
        border-radius:3px;
        background-color:white;
     }
     .Toastify__toast-container--top-right{
         margin-top: 50%;
     }
     footer{
        margin-top: 80%;
        font-size: 2em;
     }
  }